* {
  box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
header{
    margin: 0;
    border: 1px green solid;
}
main{
    margin: 0;
    border: 1px red solid;
}
footer{
    margin: 0;
    border: 1px blue solid;
}
body{
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #A8D0E6;
}
.container{
    margin: 0 auto;
    max-width: 1440px
}